#Donate {
  position: relative;
  background-color: rgba(236, 245, 248, 0.884);
  background-image: url("../../assets/sharing.svg");
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 100vmin;
  scroll-behavior: smooth;

  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}
