#homeId {
  position: relative;
  background: url("../../assets/headBg.svg");
  background-size: cover;
  background-repeat: repeat;
  inset: 5%;
  width: 90%;

  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}
