#home {
  position: relative;
  background-image: url("../../assets/headBg.svg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 70%;

  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}
