#Contact {
  position: relative;
  background-color: rgba(2, 37, 51, 0.678);
  background-image: url("../../assets/bloodDrop.png");
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
  transition: 0.2s ease-in;
  background-size: 100vmin;
  border-radius: 10px;
  scroll-behavior: smooth;

  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}
