@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
:root {

  --font-base: "DM Sans", sans-serif;
  --primary-color: #ff0000; /* Deep Red */
  --secondary-color: #b30000; /* Bright Red */
  --background-color: #ffffff; /* White */
  --light-gray: #cccccc; /* Light Gray */
  --dark-gray: #333333; /* Dark Gray */
  --accent-color: #ffd700; /* Rich Gold */
  --highlight-color: #ffa500; /* Warm Orange */
  --white-color: #ffffff;
}
