@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --font-base: "DM Sans", sans-serif;
  --primary-color: #ff0000; /* Deep Red */
  --secondary-color: #b30000; /* Bright Red */
  --background-color: #ffffff; /* White */
  --light-gray: #cccccc; /* Light Gray */
  --dark-gray: #333333; /* Dark Gray */
  --accent-color: #ffd700; /* Rich Gold */
  --highlight-color: #ffa500; /* Warm Orange */
  --white-color: #ffffff;
}

body {
  font-family: var(--font-base);
  background-color: var(--background-color);
  color: black;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--light-gray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-gray);
  border-radius: 10px;
  border: 2px solid var(--light-gray);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}
.dark body {
  background-color: #212b36ea;
  color: #ffffff;
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-track {
    background: var(--light-gray);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--dark-gray);
    border-radius: 10px;
    border: 2px solid var(--light-gray);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
  }
}
